<p-card 
    header="Consulta del clima" 
    subheader="Escribe el nombre o parte del nombre de la ciudad de la cual deseas conocer el clima actual, podrás hacer uso del autocompletado automático.">

    <main class="dashboard-home-page">


        <div class="autocomplete__container">
            <label for="#autocompletado">Nombre de la ciudad</label>
            <div class="autocomplete-row">

                <p-autoComplete 
                    id="#autocompletado"
                    placeholder="Escribe aquí"
                    [(ngModel)]="selectedCity" 
                    [suggestions]="cityCoincidenses"
                    (completeMethod)="getCityCoincidences($event)" 
                />
    
                <p-button label="Buscar" (onClick)="getCityWeatherInformation()" />
    
            </div>
        </div>

        <p-divider />
    
        @if(cityInformation){

            <h1>{{cityInformation!.location.name}}</h1>

            <div class="action-bar">

                @if(cityInformation.current.condition.icon){
                    <div class="weather-image">
                        <img [src]="cityInformation!.current.condition.icon" alt="weather status icon">
                        <p>{{cityInformation!.current.condition.text}}</p>
                    </div>
                }

                <p-button label="Guardar en favoritos" icon="pi pi-star-fill" iconPos="right" (onClick)="saveCityToFavorites()"/>
    
            </div>

            <div class="information-grid">

                @if(cityInformation.current.temp_c){
                    <app-weather-card
                    title="Temperatura en °C"
                    [value]="cityInformation!.current.temp_c+ ' °C'"
                    ></app-weather-card>
                }
    
                @if(cityInformation.current.temp_f){
                    <app-weather-card
                    title="Temperatura en °f"
                    [value]="cityInformation!.current.temp_f + ' °f'"
                    ></app-weather-card>
                }
    
                @if(cityInformation.current.pressure_in){
                    <app-weather-card
                    title="Hora local"
                    [value]="horaLocal"
                    ></app-weather-card>
                }
    
                @if(cityInformation.current.pressure_in){
                    <app-weather-card
                    title="Precipitaciones"
                    [value]="cityInformation!.current.pressure_in + ' Inc'"
                    ></app-weather-card>
                }
    
    
                @if(cityInformation.current.humidity){
                    <app-weather-card
                    title="Humedad"
                    [value]="cityInformation!.current.humidity + ' %'"
                    ></app-weather-card>
                }
    
    
                @if(cityInformation.current.heatindex_c){
                    <app-weather-card
                    title="Índice de calor"
                    [value]="cityInformation!.current.heatindex_c + ' °C'"
                    ></app-weather-card>
                }
    
                @if(cityInformation.current.gust_kph){
                    <app-weather-card
                    title="Ráfaga de viento"
                    [value]="cityInformation!.current.gust_kph + ' kph'"
                    ></app-weather-card>
                }
    
                @if(cityInformation.current.feelslike_c){
                    <app-weather-card
                    title="Sensación térmica"
                    [value]="cityInformation!.current.feelslike_c + ' °C'"
                    ></app-weather-card>
                }
                
    
                @if(cityInformation.current.dewpoint_c){
                    <app-weather-card
                    title="Punto de Rocío"
                    [value]="cityInformation!.current.dewpoint_c + ' °C'"
                    ></app-weather-card>
                }
                
            </div>

        }@else {

            <div class="weather-placeholder">
                <img src="/placeholder.svg" alt="weather plaveholder">
            </div>

        }


    </main>
</p-card>