<p-card 
    header="Consulta del Clima" 
    subheader="Escribe el nombre o parte del nombre de la ciudad de la cual deseas conocer el clima actual, podrás hacer uso del autocompletado automático.">

    <main class="dashboard-home-page">


        <div class="autocomplete__container">
            <label for="#autocompletado">Nombre de la ciudad</label>
            <div class="autocomplete__row">

                <p-autoComplete 
                    id="#autocompletado"
                    placeholder="Escribe aquí"
                    [(ngModel)]="selectedCity" 
                    [suggestions]="cityCoincidenses"
                    (completeMethod)="getCityCoincidences($event)" 
                />
    
                <p-button label="Buscar" (onClick)="getCityWeatherInformation()" />
    
            </div>
        </div>

        <p-divider />

        @if(cityInformation){

            <div class="action_bar">

                @if(cityInformation?.current?.condition?.icon){
                    <div class="weather-image">
                        <img [src]="cityInformation!.current.condition.icon" alt="weather status icon">
                        <p>{{cityInformation!.current.condition.text}}</p>
                    </div>
                }

                <p-button label="Guardar en favoritos" icon="pi pi-star-fill" iconPos="right" />
    
            </div>
        }

        <div class="information-grid">

            <app-weather-card
                title="Lorem Ipsum"
                value="34 G°"
            ></app-weather-card>

            <app-weather-card
                title="Lorem Ipsum"
                value="34 G°"
            ></app-weather-card>

            <app-weather-card
                title="Lorem Ipsum"
                value="34 G°"
            ></app-weather-card>

            <app-weather-card
                title="Lorem Ipsum"
                value="34 G°"
            ></app-weather-card>

            <app-weather-card
                title="Lorem Ipsum"
                value="34 G°"
            ></app-weather-card>

            <app-weather-card
                title="Lorem Ipsum"
                value="34 G°"
            ></app-weather-card>

            <app-weather-card
                title="Lorem Ipsum"
                value="34 G°"
            ></app-weather-card>

            <app-weather-card
                title="Lorem Ipsum"
                value="34 G°"
            ></app-weather-card>

            <app-weather-card
                title="Lorem Ipsum"
                value="34 G°"
            ></app-weather-card>

        </div>

    </main>
</p-card>