// variables de color
$main-dark-text-color: #4b5563;
$box-shadow-color: #d6d6d6;

// variables de tamaño y espaciado
$dashboard-header-height: 65px;
$dashboard-footer-height: 50px;
$dashboard-lateral-menu-width: 16.25rem;