// al cambiar el valor de estas variables no olvidar cambiar también las que están en eol archivo ./theme.scss
// el archivo ./theme-exported-variables.scsses el único que puede ser importado en el archivo root.scss del proyecto de angular
$lateralMenuColor: #201D3C;
$primaryColor: #5F5B7D !default;
$primaryLightColor: lighten($primaryColor, 50%) !default;
$primaryDarkColor: darken($primaryColor, 25%) !default;
$primaryDarkerColor: darken($primaryColor, 35%) !default;
$primaryTextColor: #ffffff !default;