// al cambiar el valor de estas variables no olvidar cambiar también las que están en eol archivo ./theme-exported-variables.scss
$lateralMenuColor: #201D3C;
$primaryColor: #5F5B7D !default;
$primaryLightColor: lighten($primaryColor, 50%) !default;
$primaryDarkColor: darken($primaryColor, 25%) !default;
$primaryDarkerColor: darken($primaryColor, 35%) !default;
$primaryTextColor: #ffffff !default;

$highlightBg: $primaryLightColor !default;
$highlightTextColor: $primaryDarkerColor !default;
$highlightFocusBg: rgba($primaryColor, .24) !default;

@import './_variables';
@import './_fonts';
@import '../primeng-theme-base/_components';
@import './_extensions';